[Desktop Entry]
Name=LinVClipBoard
Comment=Clipboard Manager for Linux — Win+V equivalent
Exec=linvclip-ui
Icon=linvclipboard
Type=Application
Categories=Utility;
StartupNotify=true
StartupWMClass=LinVClipBoard
Keywords=clipboard;paste;history;copy;
